* {
    margin: 0px ;
    border: 0px ;
    box-sizing: border-box;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);    
    width: 100vw ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.main-container{
    background-color:  white ;
    width: 25% ;
    height: 60% ;
    max-width: 100%;
    max-height: 100%;
    border: 3px solid black;
    border-radius: 5%;
}
.info-container {
    /* border: 2px solid purple; */
    margin: 5% ;
    width: 90% ;
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    gap: 5% ;
}

.qr-code-container {
    background-color:  rgba(49, 49, 194, 0.733) ;
    padding: 5px;
    display: flex ;
    align-items:  center ;
    justify-content: center ;
    border-radius: 5%;
}

img{
    width: 75% ;
    height: 75%; 
}

.improvement-message ,  .scan-message {
    text-align: justify;
}
